<div class="header__container container">
  <a href="#" class="header__link">
    Your Help
  </a>
  <nav class="header__navigation">
    <ul class="navigation__list">
      {% for item in list1 %}
      <li class="navigation__item">
        {% if item.list2 != null %}
        <span class="navigation__span navigation__link">
          {{item.name}}
        </span>
        <ul class="navigation__list-under">
          {% for item in item.list2 %}
          <li class="navigation__item">
            {% if item.url != null %}
            <a href="{{list2.url}}" class="navigation__link">
              {{item.name}}
            </a>
            {% else %}
            <span class="header__span" id="1">{{item.name}}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <a href="/{{item.url}}" class="navigation__link">
          {{item.name}}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  <div class="userroom">
    <ul class="userroom__list">
      <li class="userroom__item">
        <a href="" class="userroom__link">
          Sing in
        </a>
      </li>
      <li class="userroom__item-green">
        <a href="" class="userroom__link">
          Sing up
        </a>
      </li>
    </ul>
  </div>
  <div class="burger__wrapper">
    <button aria-label="burger-menu" class="burger">
      <span class="burger-span1"></span>
      <span class="burger-span2"></span>
      <span class="burger-span3"></span>
    </button>
  </div>
</div>